body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#movieContainer {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
}

.movieCard {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 1.2rem;
}

.movieCard img {
    width: 100%;
    height: 90%;
}

.movieCard h3 {
    background-color: #28a745;
    position: relative;
    bottom: 10px;
    margin: 0 0;
    font-size: 16px;
    font-weight: 550;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.deleteIcon {
    width: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #28a745;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
}

